h1 { /* alle h1-elementestylen */
    /* Unteren Rand 1px breit, strichlierte und schwarze zeichen */
    border-bottom: 1px dashed black;
    /* Kleinbuchstaben als kleine Großbuchstaben darstellen */
    font-variant: small-caps;
    /* Schriftfarbe ändern */
    color: steelblue; 
}